@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    width: 100%;
}

.nav-item {
    margin: 10px;
    font-weight: 500;
}

@media (min-width: 768px) {
    .navbar {
        width: 90%;
    }
}