.nav{
    display: flex;
    font-family: Inter, sans-serif;
    padding: 30px;
    background-color: #21222A;
}

.nav-logo{
    display: flex;
    margin-right: auto;
}

.nav > h4{
    color: whitesmoke;
    font-size: large;
}


.nav-logo > h2{
    color: rgb(97, 219, 251);
    font-size: 22px;
}

